<%- include ("./templates/_header") %>



<div class="container">
  <a href ="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <% if (posts.length < 1) { %>
       <h1 style="text-align: center;">There are no Posts</h1>
      <% } %>
      <% for( let post of posts ) { %>
        <div class="blog-post">
          <h2 class="blog-post-title"><%= post.title %></h2>
          <p class="blog-post-meta"><%= moment(post.post_date).format("MMM D, YYYY") %> by <a href="#"><%= post.author %></a>     </p>
          <p><%= post.post_data %></p>
          <a class = "btn btn-danger" href ="/delete/<%= post.id %>"> Delete </a>
          <a class = "btn btn-info" href ="/edit/<%= post.id %>"> Edit </a>
        </div>
      <% } %>
    </div>
  </div>
</main>

<% if (posts.length > 0) { %>
  <%- include ("./templates/_footer") %>
<% } %>